.view {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 20px;

	&__body {
		flex: 1;
		height: 500px;
	}

	&__toolbar {
		color: #fff;
		background-color: var(--bs-primary);
		padding: 10px;
		flex: 0 0 200px;
	}
}
